/* styles.module.css */

.container {
  @apply flex min-h-screen items-center justify-center bg-gray-100;
}

.card {
  width: 464px !important;
}

.LoginLogo {
  @apply flex items-center justify-center
}

.title {
  @apply text-2xl font-bold text-center text-gray-800;
}

.title {
  font-size: 40px;
}

.WelcomeText {
  @apply text-xl font-normal
}

.WelcomeText {
  color: var(--text-color)
}

.policy-text{
  
}