/* styles.module.css */

.containerauth {
  @apply flex min-h-screen items-center justify-center bg-gray-100;
}

.containerauth {
  background: linear-gradient(164deg, #42da82 -140%, #fff 50%);
}

.card {
  width: 464px !important;
}

.LoginLogo {
  @apply flex items-center justify-center;
}

.title {
  @apply font-[24px] font-[700] text-center;
}

.title {
  font-size: 40px;
}

.WelcomeText {
  @apply text-[20px] font-[400] text-center;
}

.WelcomeText {
  color: var(--text-color);
}

/* otp screen style */

.otpContainer {
  @apply flex-col   mt-10 mb-[20px];
}

.otpLabel {
  @apply font-[500] text-[14px] text-[#24282E];
}
/* Style for individual OTP input boxes */
.otpInput {
  @apply !w-[80px] !h-[80px] text-[48px] font-bold rounded-[18px] border-2 border-[##BEC2CC] 
  focus:border-[#42DA82] focus:outline-none focus:ring-1 focus:ring-[#42DA82];
}
.otpCheckMailText {
  @apply text-[14px] font-[500] text-[#24282E] mb-[10px];
}
.resendText {
  @apply text-[14px] font-[400] text-[#727A90];
}
