@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
    --color-primary: 0 122 255;
    --color-secondary: 88 86 214;
    --color-success: 52 199 89;
    --color-danger: 255 59 48;
    --color-warning: 255 204 0;
  }

  html {
    font-family: var(--font-plus-jakarta);
  }
}

:root {
  --primary-color: #42DA82;
  --text-color: #8E95A6;
  --text-color-light: #727A90;
  --highlight-color: #24282E;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.color-primary {
  color: var(--primary-color);
}

.text-color {
  color: var(--text-color);
}

.text-color-light {
  color: var(--text-color-light);
}

.highlight-color {
  color: var(--highlight-color);
}