.input-search {
    border: 1px solid #E9EAEA;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    width: 272px;
    color: #727A90;
    outline: none;
}

.Notification {
    width: 25px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F05D3D;
    border-radius: 100px;
    position: absolute;
    top: -12px;
    left: 7px;
}

.NotifactionNm {
    font-size: 10px;
    font-weight: 600;
    color: #ffff;
}